<h2  class="mb-1">Available drones</h2>
<div class="card" style="width: 18rem;">
{{#each drones}}
    <div class="list-group">
        <h3 class="mb-1">Name: {{this.name}}</h3>
        <p class="mb-1">Number of propellers: {{this.propellers}}</p>
        <p class="mb-1">Max Speed: {{this.maxSpeed}}</p>
        <a href="/drones/{{this._id}}/edit" class="list-group-item list-group-item-action">Edit</a>
        <form action="/drones/{{this._id}}/delete" method="POST">
            <button type="submit" class="btn btn-success">Delete</button>
    
    {{/each}}
    </div>
    <a href="/drones/create" class="list-group-item list-group-item-action">Create a new drone</a>
    